# Ignore virtual enviroments
venv/
env/

# Ignore Django secret key and settings
*.sqlite3
*.pyc
__pycache__/
db.sqlite3

# Ignore VScode settings
.vscode/
# PyCharm
.idea/
# Ignore enviroment filles
.env